
/*---- 
top
--------------*/
*{
  margin: 0;
  padding: 0;
}
/*------------------
           home
-------------------*/
.Home{
  background-color: rgb(27, 4, 161);
  height: 500px;

}
.Home:hover{
  background-color:teal ;
}
.Home-banner{
  display: flex;

}
.banner img{
  position:absolute;
  transition: width 5s;
  margin-top: 80px;
  margin-left: 180px;
     width: 330px;
     height: 474;
     
}
.banner img:hover{
  transform: rotate(20deg);
}
.banner h1{
  color: white;
  margin-top:100px;
  font-size: 40px;
  margin-left: 240px;
}
.banner button{
  color: white;
  margin-top: 20px;
  margin-left:240px ;
}
button{
  background-color:#e02c6d;
  margin-top: 20px;
  width: 130px;
  height: 35px;
}
button i{
  margin-left: 9px;
}
/*-------------------
top player
---------------*/
.top-player {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  box-shadow: rgba(red, green, blue, alpha);
  margin-left: 150px;
  box-sizing: border-box;
  padding: 13px;
  box-sizing: content-box;
  border: 1px solid white;
  display: flex;
}
.top-box {
  width: 330px;
  height: 400px;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 5px 5px 5px 5px rgb(163 161 161);
}

.top-box h1{
   margin-top: 3px;
  padding: 10px;

}
.top-box p{
   text-align: justify;

}
.top-box img{
    display: flex;
    width: 250px;
    height: 25s0px;
}
/*---------------------
bonous point
---------------*/
.match-highlights{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin:30px;
  margin-left: 200px;
  box-sizing: border-box;
}
.match-highlights img{
     width: 300px;
}
.match-title h1{
    font-size: 40px;
}
/*----------------
footer--------------*/
footer img{
   align-items: center;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 536px;
  justify-content: center;



}
footer .fab{
  align-items: center;
  justify-content: center;
  margin: -515px;
   margin-left: 562px;
   margin-bottom: 20px;
}
footer p{
  text-align: center;
align-items: center;
  justify-content: center;
  margin-top: 10px;
}


/*--------
 The End
 --------*/